<h1>Meet <%= sealion.first_name %> <%= sealion.last_name %>!</h1>

  <div>
    <ul>
      <%= sealion.id %>: <%= sealion.first_name %> <%= sealion.last_name %>, <%= sealion.age %>, <%= sealion.location %>, <%= sealion.quirk %>
    </ul>
  </div>